/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* ==========================================================================
   TEXT HELPERS
   ========================================================================== */
/** Font Size is in REMs,margins are mutiples of the base value
    Line height is automatically set based upon the font size */
.center {
  text-align: center;
}
.light {
  font-weight: 100;
}
.normal {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.bold,
strong {
  font-weight: 700;
}
.heavy {
  font-weight: 800;
}
.italic {
  font-style: italic;
}
.uc {
  text-transform: uppercase;
}
.serif {
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
}
.sans-serif {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* ==========================================================================
   DESIGN ELEMENTS
   ========================================================================== */
.block {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 20px;
  margin-bottom: 5px;
}
.block.teal {
  background-color: #45c3d3;
}
.block.orange {
  background-color: #f16e33;
}
.block.black {
  background-color: #333333;
}
.block.green {
  background-color: #c1d72e;
}
.block.yellow {
  background-color: #fce550;
}
/* ==========================================================================
   HTML ELEMENTS
   ========================================================================== */h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 2rem 0;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
h3 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
h4 {
  font-size: 12.5px;
  font-size: 1.25rem;
  line-height: 14px;
  line-height: 1.4rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
h5,
h6 {
  font-size: 8px;
  font-size: 0.8rem;
  line-height: 14px;
  line-height: 1.4rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
p,
blockquote,
ul,
ol,
dl,
form,
table,
pre {
  line-height: inherit;
  margin: 0 0 5rem 0;
}
ul,
ol,
dl {
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul,
dd {
  margin: 0;
}
li {
  margin: 0 0 0 2rem;
  padding: 0;
  display: list-item;
  list-style-position: outside;
}
blockquote,
dd {
  padding: 0 0 0 2rem;
}
pre,
code,
samp,
kbd,
var {
  font: 100% mono-space, monospace;
}
pre {
  overflow: auto;
}
abbr,
acronym {
  text-transform: uppercase;
  border-bottom: 1px dotted #000;
  letter-spacing: 1px;
}
abbr[title],
acronym[title] {
  cursor: help;
}
small {
  font-size: .9rem;
}
sup,
sub {
  font-size: .8rem;
}
em,
cite,
q {
  font-style: italic;
}
img {
  border: none;
}
hr {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
caption {
  text-align: left;
}
form div {
  margin: .5em 0;
  clear: both;
}
label {
  display: block;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"],
.radio,
.checkbox {
  margin: 0 .25em 0 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.left,
.alignLeft {
  float: left;
  margin-right: 1rem;
}
.right,
.alignRight {
  float: right;
  margin-left: 1rem;
}
.center {
  text-align: center;
}
.graphic,
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.graphic:before,
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden,
.print {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clear:before,
.clear:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after,
.clear:after {
  clear: both;
}
.clearfix,
.clear {
  *zoom: 1;
}
/* ==========================================================================
   BASE
   ========================================================================== */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */

}
body {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}
a,
a:visited {
  text-decoration: none;
  color: #45c3d3;
}
a:hover {
  color: #f16e33;
}
ins {
  text-decoration: none;
  color: #900;
  font-style: italic;
}
code {
  color: #555;
}
pre {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #ccc;
}
blockquote {
  margin-left: 2rem;
  border-left: 1px solid #ccc;
  font-style: italic;
}
dt {
  font-weight: bold;
}
th,
td {
  padding: .5em 1rem;
  line-height: 1.5rem;
}
th {
  background: #eee;
}
td {
  border-bottom: 1px solid #eee;
}
caption {
  font-style: italic;
  color: #777;
  margin: .5em 0;
}
fieldset {
  border: 1px solid #ccc;
  padding: 1em 2rem;
  margin: 0 0 1.5em 0;
}
legend {
  padding: 2px 5px;
}
form div.col {
  clear: none;
}
form div.first {
  clear: both;
}
form div {
  overflow: hidden;
}
input[type="text"],
input[type="password"],
textarea,
.field,
.area,
select {
  border: 1px solid #aaa;
  padding: 5px;
  background: #fff;
  width: 300px;
  line-height: 1rem;
  margin: 0;
}
select {
  width: 312px;
}
textarea,
.area {
  overflow: auto;
  height: 150px;
  width: 400px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
.focus {
  background: #f5f5f5;
  outline: none;
}
button {
  border: none;
  background: #555;
  color: #fff;
  padding: 0 2.5rem;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
}
.note,
.success,
.error {
  display: block;
}
.error {
  color: #900;
}
.success {
  color: #060;
}
.note {
  font-weight: bold;
}
.notvalid {
  border: 1px solid #900 !important;
}
/*! responsive-nav.js v1.11 by @viljamis */
#nav {
  background: #333333;
}
#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
#nav li {
  width: 100%;
  display: block;
  border-bottom: solid 1px #555;
  margin: 0;
}
#nav li a {
  padding: 10px;
  display: block;
  color: #fff;
}
.js #nav {
  /*clip: rect(0 0 0 0);*/

  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
#nav.opened {
  max-height: 9999px;
}
body,
html {
  background: url(../img/body-bg.jpg);
  height: 100%;
}
.container {
  margin: auto;
  padding: 10px;
  max-width: 800px;
}
#nav-toggle {
  float: right;
  margin: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background: #333333;
}
.logo {
  margin: 10px;
  float: left;
  height: 50px;
}
h1 {
  color: #333333;
  line-height: 1;
  text-shadow: 0 1.9500000000000002px 0 #f9f9f9, 0 4.5px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
  overflow: hidden;
  text-align: center;
}
h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 3;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 600px;
  font-size: 60rem;
  line-height: 602px;
  line-height: 60.199999999999996rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
section {
  margin: 20px 0;
}
section ul {
  padding-left: 20px;
}
section ul,
section ol,
section p {
  margin-bottom: 5px;
}
section .inner {
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
/* COVER PAGE */
#cover {
  clear: both;
  background-color: #45c3d3;
  padding: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  text-align: center;
}
#cover h1 {
  color: #ffffff;
  line-height: 1;
  text-shadow: 0 2.6px 0 #45c3d3, 0 6px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 4rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#cover h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 4;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
#cover h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 800px;
  font-size: 80rem;
  line-height: 811.9999999999999px;
  line-height: 81.19999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#cover h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto;
  color: #ffffff;
  background: #f16e33;
  line-height: 1em;
  line-height: 30px;
  position: relative;
  max-width: 300px;
  margin: 10px auto;
}
#cover h2:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0;
  height: 0;
  width: 0;
  border-left: solid 5px #45c3d3;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  /*		border-left:solid 5px transparent;
		border-top:solid @height/2 @ribbonColor;
		border-bottom:solid @height/2 @ribbonColor;
		border-right:solid 5px @ribbonColor;
*/

}
#cover h2:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-right: solid 5px #45c3d3;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
}
#cover h3 {
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 14px;
  margin-top: 1.4rem;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  color: #fff;
  border-top: double 4px #2ca9b9;
  border-bottom: double 4px #2ca9b9;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#section1,
#section2 {
  background-color: #f16e33;
  padding: 10px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
#section1 h1,
#section2 h1 {
  color: #ffffff;
  line-height: 1;
  text-shadow: 0 1.9500000000000002px 0 #f16e33, 0 4.5px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
  margin-bottom: 10px;
}
#section1 h1 i,
#section2 h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 3;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
#section1 h1 b,
#section2 h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 600px;
  font-size: 60rem;
  line-height: 602px;
  line-height: 60.199999999999996rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section1 h2,
#section2 h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto;
  color: #f9f9f9;
  background: #45c3d3;
  line-height: 1em;
  line-height: 30px;
  position: relative;
}
#section1 h2:before,
#section2 h2:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0;
  height: 0;
  width: 0;
  border-left: solid 5px #f9f9f9;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  /*		border-left:solid 5px transparent;
		border-top:solid @height/2 @ribbonColor;
		border-bottom:solid @height/2 @ribbonColor;
		border-right:solid 5px @ribbonColor;
*/

}
#section1 h2:after,
#section2 h2:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-right: solid 5px #f9f9f9;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
}
#section1 p,
#section2 p {
  padding: 0 1rem;
}
#section3 {
  padding: 10px;
  background-color: #c1d72e;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
#section3 h1 {
  color: #ffffff;
  line-height: 1;
  text-shadow: 0 1.8199999999999998px 0 #c1d72e, 0 4.199999999999999px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
  margin-bottom: 10px;
}
#section3 h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 2.8;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
#section3 h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 560px;
  font-size: 56rem;
  line-height: 560px;
  line-height: 56rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section3 .inner {
  padding: 0;
}
#section3 ol {
  counter-reset: li;
  margin: 0;
}
#section3 ol li {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  list-style: none;
  position: relative;
  padding: 20px 20px 20px 70px;
  border-top: dashed 2px #9eb022;
  margin: 0;
}
#section3 ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 10px;
  margin-top: -20px;
  top: 50%;
  text-align: center;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background: #9eb022;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #c1d72e;
  font-weight: 800;
  font-size: 25px;
}
#section3 ol li:before a {
  color: #45c3d3;
}
#section3 ol li:first-child {
  border: none;
}
#section3 ol h4 {
  font-weight: 700;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
#section3 ol p {
  margin: 0;
  font-size: .9em;
  color: #555;
  margin-bottom: 10px;
}
/**
 * Section 2 Specific Styles
 */
#section2 figure {
  margin: 0 0 1.0rem 0;
  padding: 0;
}
#section2 figure img {
  max-width: 100%;
}
#section2 figure figcaption {
  text-align: center;
  font-style: oblique;
  color: #777777;
  font-size: 8px;
  font-size: 0.8rem;
  line-height: 14px;
  line-height: 1.4rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
#section4,
#section5 {
  background-color: #fce550;
  padding: 10px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
#section4 h3,
#section5 h3 {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
}
#section4 h1 {
  color: #333333;
  line-height: 1;
  text-shadow: 0 1.9500000000000002px 0 #fce550, 0 4.5px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section4 h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 3;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
#section4 h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 600px;
  font-size: 60rem;
  line-height: 602px;
  line-height: 60.199999999999996rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section5 {
  background-color: #333333;
}
#section5 h1 {
  color: #ffffff;
  line-height: 1;
  text-shadow: 0 1.9500000000000002px 0 #333333, 0 4.5px 0 rgba(2, 2, 2, 0.15);
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
  line-height: 41.99999999999999px;
  line-height: 4.199999999999999rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section5 h1 i {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-family: 'kulturista-web', Georgia, Times, 'Times New Roman', serif;
  font-size: 3;
  display: block;
  margin-bottom: .25em;
  text-shadow: none;
}
#section5 h1 b {
  font-family: 'proxima-nova', 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 600px;
  font-size: 60rem;
  line-height: 602px;
  line-height: 60.199999999999996rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  display: block;
}
#section2 {
  /*	background:url(../img/choices.png) no-repeat center 10px @orange;
	padding-top:50px;*/

}
@media screen and (min-width: 600px) {
  .js #nav {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
  #nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: #333333;
    z-index: 99999999;
  }
  #nav ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
  }
  #nav ul li:before {
    content: " | ";
    color: #555;
  }
  #nav ul li:first-child:before {
    content: "";
  }
  #nav ul li a {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 14px;
    line-height: 1.4rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    line-height: 50px;
    display: inline-block;
    color: #fff;
    padding: 0 8px;
    text-transform: uppercase;
  }
  .logo {
    margin: 60px auto 0;
    float: none;
    display: block;
    height: 100px;
  }
  .container {
    padding-top: 0;
    min-height: 100%;
    padding-bottom: 100%;
  }
  /**
  	 * Section 2 Specific Styles
  	 */
  #section2 figure {
    width: 50%;
    float: left;
  }
  #section3 ol li a {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-border-radius: 50px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50px;
    -moz-background-clip: padding;
    border-radius: 50px;
    background-clip: padding-box;
    background: #eee;
    padding: 0 30px;
    line-height: 40px;
    margin-top: -20px;
    color: #999;
  }
  #section3 ol li a:hover {
    background: #ddd;
  }
  #section4 ul,
  #section5 ul {
    padding: 0;
    margin: 0;
  }
  #section4 li,
  #section5 li {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    float: left;
    width: 50%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 700;
    text-transform: uppercase;
    border-top: solid 1px #eee;
  }
  #section4 li:nth-child(1),
  #section5 li:nth-child(1),
  #section4 li:nth-child(2),
  #section5 li:nth-child(2) {
    border-top: none;
  }
  #section4 li:nth-child(odd),
  #section5 li:nth-child(odd) {
    border-right: solid 1px #eee;
  }
  #section4 li small,
  #section5 li small {
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 14px;
    line-height: 1.4rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    color: #999;
    font-weight: 400;
  }
}
